<div class="row">
	<div class="col-xs-12 col-md-8">
		<div class="panel panel-default">
		  <div class="panel-body">
		  	<p>
					<span class="label label-primary">
				  	{{issue.department}}
				  </span>
			  </p>
				<h3>
			  	{{issue.title}}
			  </h3>
				<p>
					{{issue.description}}
				</p>
			</div> <!-- end panel body -->
			<div class="panel-footer">
				<button class="btn btn-default btn-sm" ng-click="incrementUpvotes(issue)">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</button>
				&nbsp;&nbsp;
				<h3 class="label-style">
					<span class="label label-success">
						Votes:&nbsp;&nbsp;{{issue.upvotes}}
					</span>
				</h3>
			</div>
		</div> <!-- end panel panel default -->
	</div> <!-- end column -->
</div> <!-- end row -->

<div class="row">
	<div class="col-xs-12 col-md-8">
	  <div class="comment" ng-repeat="comment in issue.comments | orderBy:'-upvotes'">
		  <p>
		    <button class="btn btn-default btn-sm" ng-click="incrementCommentUpvotes(comment)">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</button>&nbsp;&nbsp;
	    	<strong>{{comment.upvotes}}</strong> - by <strong>{{comment.author}}</strong> - "{{comment.body}}"
		  </p>
		  <hr>
	  </div>
	</div> <!-- end column -->
</div> <!-- end row -->

<div class="row">
	<div class="col-xs-12 col-md-8">
		<form ng-submit="addComment()">
	    <h3>
	    	Add a new comment
	    </h3>
			<div class="input-group">
	      <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="submit">Add Comment</button>
	      </span>
	    </div>
	  </form>
	</div>
</div>